body{
    margin:0;
    overflow:hidden;
}
canvas{
    position:absolute;
    display:block;
    top:50%;
    left:50%;
    margin-left:-200px;
    margin-top:-300px;
    background:url(../images/house.png) repeat-x bottom center,url(../images/bg-sky.jpg) repeat-x 0 0;
}